doctype html
html(lang = "en")
	head
		meta(charset = "utf-8")
		meta(http-equiv="Content-Type" value="text/html; charset=ISO-8859-1")
		meta(http-equiv="X-UA-Compatible", content = "IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
		block description
			meta(name="description", content="Ratings For the Rest of Us")
		mixin css(href)
			link(rel="stylesheet", href=href)
		+css("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css") //- Bulma
		+css("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css") //- Font Awesome
		+css("/assets/styles/all.css")
		script(src="https://unpkg.com/vue")
		block head
	body
		#root
			include navbar.jade
			block body
			include footer.jade