footer.footer
    .container
        .content.has-text-centered
            - year = new Date().getFullYear()
            strong © #{year}   #[a(href="http://duro.me", target="_blank") Andi Duro] 
            p This product uses the TMDb API but is not endorsed or certified by TMDb.