nav.navbar
    .navbar-brand   
        a.navbar-item(href="/") #[b IMDc]
    .navbar-menu
        .navbar-end
            a.nav-item(href="/about") About
            .navbar-item(v-if="'#{current.source}' == 'search'")
                .field.has-addons
                    .control
                        input.input(type="text", placeholder="Search for a movie...", v-model="query", v-on:keyup.enter="submitQuery()")
                    .control
                        a.button.is-info(v-on:click="submitQuery()") #[i.fa.fa-search]
