extends _templates/base.jade

block head
    +css("assets/styles/about.css")
    title IMDc: About

block body
    section#page.container.is-fluid.padded
        .columns
            .card.column.is-half.is-offset-one-quarter
                .card-content
                    .content!= partial("assets/README.md")