extends _templates/base.jade

block head
    +css("/assets/styles/index.css")
    title IMDc: Ratings for the Rest of Us

block body
    section#jumbotron.hero.is-primary.is-medium
        .hero-body
            .container
                h1.title IMDc
                h2.subtitle Because IMDb was already taken
    section.hero.is-dark.is-bold
        .hero-body
            .container
                .field.has-addons
                    .control.has-icons-left.is-expanded
                        input.input(type="text", placeholder="Search for a movie...")
                        span.icon.is-small.is-left
                            i.fa.fa-search
                    .control
                        a.button.is-info Search
    .container(style="padding:15px;")
        .columns
            .column
                span.icon.is-large
                    i.fa.fa-check
            .column
                span.icon.is-large
                    i.fa.fa-check
            .column
                span.icon.is-large
                    i.fa.fa-check