extends _templates/base.jade

block head
    +css("assets/styles/index.css")
    script(src="/assets/scripts/index.js", defer)
    title IMDc: IMDb, but cooler

block body
    section#jumbotron.hero.is-primary.is-medium
        .hero-body
            .container
                h1.title IMDc
                h2.subtitle ...Because IMDb was already taken
    section#searchbar.hero.is-dark.is-bold
        .hero-body
            .container
                .field.has-addons
                    .control.has-icons-left.is-expanded
                        input.input(type="text", 
                            placeholder="Search for a movie...", 
                            v-model="query",
                            v-on:keyup.enter="submitQuery")
                        span.icon.is-small.is-left
                            i.fa.fa-search
                    .control
                        a.button.is-info(v-on:click="submitQuery") Search
    section#showcase.container.padded
        .columns
            .column
                figure.image.showcase-icon
                    i.fa.fa-bar-chart
                h1.title.has-text-centered Over 345,000 Movies Listed
                h2.subtitle.has-text-centered Everything you're looking for, and probably more.
            .column
                figure.image.showcase-icon
                    i.fa.fa-code
                h1.title.has-text-centered Open Source
                h2.subtitle.has-text-centered You can find the source code on #[a(href="http://github.com/nexuist/IMDc", target="_blank") GitHub].
            .column
                figure.image.showcase-icon
                    img#tmdb-logo(src="https://www.themoviedb.org/assets/static_cache/4906bce946a19a848fb161e09dfcd1d2/images/v4/logos/primary-blue.svg")
                h1.title.has-text-centered Powered by TMDB
                h2.subtitle.has-text-centered Movie listings and details gratefully provided #[a(href="https://developers.themoviedb.org/", target="_blank") by these guys].