extends _templates/base.jade

block head
    +css("/assets/styles/index.css")
    script(src="https://unpkg.com/vue")
    script.
        let tmdbKey = "#{tmdbKey}"
    script(src="/assets/scripts/search.js", defer)
    title IMDc Search

block body
    .container.is-fluid#root(style="padding:15px;")
        h1.subtitle #[b {{tmdb && tmdb.length}}] results
        .columns.is-multiline
            .column.is-one-quarter(v-for="movie in tmdb")
                .card
                    .card-image
                        figure.image
                            img(:src="'https://image.tmdb.org/t/p/w1280' + movie.poster_path")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 {{movie.title ? movie.title : "Untitled" }}
                                p.subtitle.is-6(v-if="movie.vote_average") #[rating-stars(:rating="movie.vote_average")] ({{movie.vote_average}})
                        .content
                            div(v-if="movie.overview")
                                span {{movie.overview.substring(0, 100)}}...
                                br
                            div(v-if="movie.genre_ids")
                                small(v-for="(genre, index) in applicableGenres(movie.genre_ids)") #[span(v-if="index != 0") · ] {{genre.name}}  
                                br
                            small(v-if="movie.release_date") {{movie.release_date && movie.release_date.substring(0, movie.release_date.indexOf("-"))}}
                        
        //- p(v-for="movie in tmdb") 
        //-     | {{movie.title}}
        //-     | 
        //- h1.title IMDB
        //- p {{imdb}}